n -*,*:after,*:before {
    box-sizing: border-box;
}
.container {
    padding:6px 0 6px 12px;
    margin: 5px 0 5px 0 !important;
    width: 100%;
    max-width: 180px;
    color: rgba($color: #012E40, $alpha: .8);
    font-weight: bold;
}

body {
    max-width: 1600px;
    min-height: 100%;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.w3-responsive-bar {
    display: none;
}

#menuBar {
    list-style-type: none;
    width: 54px;
    height: 100%;
    border-left: 3px solid#BD2A2E;
    background-color: #012E40;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;


    & > li {
        padding: 10px;
        border-radius: 3px;
        cursor: pointer;
        color: #fff;
        & i {
            padding: 9px;
            text-align: center;
            border-radius: 2px;
            font-size: 14px;
        }
    }

    & > .w3-grey {
        color: grey;
        margin: 5px 0 6px 0;
        padding: 9px;
    }

    & > li:hover i {
        background-color: #BFB3A8;
    }
    
}

.li1 {
    border-bottom: 1.7px solid rgba($color: #BFB3A8, $alpha: .2);
}

.margin-left {
    margin: 0px 0 0 54.45px;
    
}


.head {
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    
    & > h3 {
        font-size: 16px;
        color: darkslategrey;
    }
   
}

.head .w3-head-icon {
    font-size: 10px;
    padding: 7px;
    margin: 0 12px 0 0;
    background-color: #BFB3A8;
    color: #fff;
    border-radius: 50% 10% 50% 50%;
    position: relative;
    bottom: 4px;
}

.flex {
    max-width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    margin-right: 8px;
    & > * {
        margin: 0 12px 0 0;
    }

    & input {
        outline: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid lightgrey;
    }

    & input::placeholder {
        color: rgba($color: #000000, $alpha: .2);
    }

    & button {
        border: none;
        padding: 6px 12px 6px 12px;
        border-radius: 5px;
        color: #fff;
        background-color: #012E40;
        cursor: pointer;
    }

    & .account {
        color: #fff;
        font-weight: bold;
        padding: 8px;
        background-color: #BFB3A8;
        width: 32px;
        height: 32px;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
    }

    & .questions, .cart {
        font-size: 16px;
        color: grey;
    }

    & .divider {
        background-color: rgba($color: #BFB3A8, $alpha: .2);
        width: 1.6px;
        height: 25px;
    }
    
}

.head2 {
    padding-left: 30px;
    padding-right: 20px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    background-color: rgba($color: #8C8C8C, $alpha: .3);
    & ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding: 1px;
    }

}

.left {
    align-items: center;

    & * {
        margin: 0 2px 0 2px;
    }
    
    & .w3-left1-margin {
        color: #506266;
        font-size: 13px;
        margin-right: 8px;

        & .w3-icon-sp {
            margin: 0px 6px 0 0;
            color: rgba($color: #BCC5CE, $alpha: 1);
            font-size: 12px;
        }
    }
}

#job, #candidate {
    border: none;
    background-color: rgba($color: #BCC5CE, $alpha: .5);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    color:  rgba($color: #000, $alpha: .7);
    padding: 4px 2px 4px 2px;
}

.w3-right-margin {
    button {
        border: 1px solid rgba($color: #000, $alpha: .2);
        font-size: 11px;
        padding: 2px 1px 1px 1px;
        letter-spacing: 1px;
        background-color: rgba($color: #BCC5CE, $alpha: .1);
        border-radius: 2px;
    }

    button:hover {
        cursor: pointer;
        background-color: rgba($color: #fff, $alpha: .7);
    }
}

.right {
    & button {
        border: none;
        padding: 8px 12px 7px 12px;
        border-radius: 3px;
        color: rgba($color: #fff, $alpha: 1);
        background-color: #012E40;
        cursor: pointer;
        font-size: 12px;

        & i {
            margin-right: 6px;
        }
    }
}

.main-body {
    background-color: rgba($color: #8C8C8C, $alpha: .2);
    padding: 9px 20px 0 34px;

    & li {
        list-style-type: none;
    }
    

}

.row1 {
    display: flex;
    justify-content: space-between;
   li {
    font-size: 12px;

    select {
        border: none;
        background-color: rgba($color: #BCC5CE, $alpha: .0);
        border-radius: 3px;
        outline: none;
        cursor: pointer;
        color:  rgba($color: #000, $alpha: .5);
        padding: 4px 2px 4px 2px;
        margin: 0 0 0 9px;
        font-weight: bold;
    }
    }
    .row1-left {
        display: flex;
        flex-flow: row nowrap;
    }

    .row1-right {
        align-items: center;
        color: rgba($color: #000, $alpha: .5);
    }
    
}

.row2 {
    margin-top: .8rem;
    display: flex;
    justify-content: space-between;
    
    li {
        cursor: pointer;
        padding: 7px 0px 7px 10px;
        width: 220px;
        border-radius: 3px;
        font-size: 13px;
        background-color: rgba($color: #fff, $alpha: .7);
        color: rgba($color: #000000, $alpha: .5);
        font-weight: bold;
        position: relative;
        border-left: 4px solid rgba($color: #000000, $alpha: .6);
    }

    #contact,#WT,#WTC,#NS {
        border-left: 4px solid rgba($color: #F2A71B, $alpha: .9);
    }

    .member {
        width: 220px;
        border-radius: 3px;
        font-size: 13px;
        background-color: #fff;
        margin: 1.2rem 0 0 0;
        border: none;
        padding: 0;

        .top {
            background-color: rgba($color: #BCC5CE, $alpha: .1);
            position: relative;
            padding: 8px 0 0px 2px;
            p {
                padding: 2px 0 2px 12px;
            }
            .top-p1 {
                color: rgba($color: #13678A, $alpha: .9);
            }

            .top-p2 {
                color: rgba($color: #000, $alpha: .8);
                font-size: 13.4px;
            }
        }

        .line::before {
            content: '';
            display: block;
            position: absolute;
            width: 1.2px;
            border-radius: 50%;
            height: 87%;
            top: 4px;
            left: 3px;
            background-color: rgba($color: #005C53, $alpha: .8);
        

        }
    .stars {
        display: flex;
        flex-wrap: wrap;
    }
        .star {
            padding: 5px 0 3px 5px;
            align-items: flex-start;
            
            span {
                color: rgba($color: #000000, $alpha: .6);
                font-size: 12px;
            }
            * {
                margin: -1px;
            }
        }
    }

    .member * {
        margin: 0;
    }

}

// Desktop site view

@media screen and (min-width: 709px) and (max-width: 1023px) {
    .row2 {
        overflow-x: scroll;
        gap: 1rem;
        padding-bottom: 1.5rem;
    }

    #menuBar {
        width: 100%;
        z-index: 4;
        height: 58px;
        border-left: none;

        border-bottom: 2px solid rgba($color: #D92525, $alpha: 1.0);

        * {
            z-index: 99;
            display: inline-block;
        }
    }

    .margin-left{
        margin:0;
        margin-top: 4rem;
    }
}



// Responsive view

@media screen and (max-width:600px) {
    #menuBar {
        width: 100%;
        z-index: 99;
        top: 68px;
        left: 100%;
        margin: 0;
        display: block;
        transition: all .5s;

    }

    #menuBar.is-active {
        left: 0;
    } 

    .w3-responsive-bar {
        display: block;
        position: fixed;  
        z-index: 4;
        top: 32px;
        right: 16px;
    }
    .burger {
        & > div {
        width: 22px;
        height: 3px;
        background-color: red;
        transition: all .5s;
    
        &::after,&::before {
            content: '';
            display: block;
            position: absolute;
            width: 22px;
            height: 3px;
            background-color: red;
        }
        
        &::after {
            margin-top: 7px;
        }
        &::before {
            margin-top: -7px;
        }
    }
}
        
    .burger2 {
        & > div {
            transition: all .5s;
        }
        
        &.toggled {
            > div::before{
                animation: burgtop .5s linear forwards;
            }
            >div {
                background: transparent;
            }
            > div::after {
                animation: burgbottom .5s linear forwards;
            }
        }
        &.unToggled{
            > div::after{
                animation: burgtopreset .5s linear forwards;
            }
            >div {
                background: red;
            }
            > div::before {
                animation: burgbottomreset .5s linear forwards;
            }
        }
    }
     


    @keyframes burgtop {

        50% {
          margin-top: 0;
          transform: rotate(55deg);
        }
        100% {
          margin-top: 0;
          transform: rotate(45deg);
        }
      }
      
      @keyframes burgbottom {
        0% {
          margin-top: 0;
        }
        50% {
          margin-top: 0;
          transform: rotate(-55deg);
        }
        100% {
          margin-top: 0;
          transform: rotate(-45deg);
      
        }
      }
      @keyframes burgbottom {
 
            20% {
              margin-top: 0em;
              transform: rotate(0deg);
            }
            60% {
              margin-top: 0em;
              transform: rotate(-55deg);
            }
            100% {
              margin-top: 0em;
              transform: rotate(-45deg);
            }
          }
          @keyframes burgtopreset {
            0% {
              margin-top: 0em;
              transform: rotate(45deg);
            }
            20% {
              transform: rotate(0);
            }
            60% {
              margin-top: 8px;
              transform: rotate(0);
            }
            100% {
              margin-top: 7px;
              transform: rotate(0deg);
            }
          }
          @keyframes burgbottomreset {
          	0% {
              margin-top: 0em;
              transform: rotate(-45deg);
            }
            20% {
              transform: rotate(0);
            }
            60% {
              margin-top: -8px;
              transform: rotate(0);
            }
            100% {
              margin-top: -7px;
              transform: rotate(0deg);
            }
          }
        
    
      
    .head {
        padding: 4px 0px 5px 8px;
        background-color: #000; 
        position: fixed;     
        width: 100%;  
        z-index: 3;
        top: 0;

        h3{
            margin-top: 20px;
            color: rgba($color: #fff, $alpha: 1.0);
        }
    }

    .head2 {
        display: grid;
        grid-template-rows: repeat(1fr,2);
        column-gap: 1rem;
        margin: 4.3rem 0 0 0px;
        padding-left: 20px;

        * {
            margin: 1px 0 1px 0;
            
        }
        .w3-left1-margin{
            display: none;
        }
        .w3-right-margin {
            background-color: rgba($color: #fff, $alpha: .8);
        }
        #candidate{
            color: rgba($color: #000000, $alpha: .5);
            font-weight: bold;
        }
        #job {
            margin: 1px 0px 0 -1px;
            font-weight: bold;
            color: rgba($color: #000000, $alpha: .5) ;

        }
        // .w3-left2-margin {
        //     outline: 1px solid blue;
        // }

        .left {
            max-width: 100%;
            width: 340px;
        }
    }

    .main-body {
        padding: 18px;
        
    .row1 {
        display: block;
    }
        .row1-right {
            display: none;
        }
    
    .row2 {
        display: block;
    }
       
    }
    .margin-left {
        margin: -15px 0 0 0 ;
        padding-top: 1rem;
    }

    .flex {
        display: none;
    
    }
    #open,#contact,#WT,#WTC,#NS {
        width: 100%;
        margin: 12px 0 0 0;
    }
    .member {
        max-width: 100%;
        width: 94% !important;
        margin-left: 20px !important;

        .top {
            height: 80px;
            align-items: center;
        }
    }

}