*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  padding: 6px 0 6px 12px;
  margin: 5px 0 5px 0 !important;
  width: 100%;
  max-width: 180px;
  color: rgba(1, 46, 64, 0.8);
  font-weight: bold;
}

body {
  max-width: 1600px;
  min-height: 100%;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

.w3-responsive-bar {
  display: none;
}

#menuBar {
  list-style-type: none;
  width: 54px;
  height: 100%;
  border-left: 3px solid #BD2A2E;
  background-color: #012E40;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

#menuBar > li {
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}

#menuBar > li i {
  padding: 9px;
  text-align: center;
  border-radius: 2px;
  font-size: 14px;
}

#menuBar > .w3-grey {
  color: grey;
  margin: 5px 0 6px 0;
  padding: 9px;
}

#menuBar > li:hover i {
  background-color: #BFB3A8;
}

.li1 {
  border-bottom: 1.7px solid rgba(191, 179, 168, 0.2);
}

.margin-left {
  margin: 0px 0 0 54.45px;
}

.head {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head > h3 {
  font-size: 16px;
  color: darkslategrey;
}

.head .w3-head-icon {
  font-size: 10px;
  padding: 7px;
  margin: 0 12px 0 0;
  background-color: #BFB3A8;
  color: #fff;
  border-radius: 50% 10% 50% 50%;
  position: relative;
  bottom: 4px;
}

.flex {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Work Sans', sans-serif;
  margin-right: 8px;
}

.flex > * {
  margin: 0 12px 0 0;
}

.flex input {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid lightgrey;
}

.flex input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.flex input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.flex input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.flex input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.flex button {
  border: none;
  padding: 6px 12px 6px 12px;
  border-radius: 5px;
  color: #fff;
  background-color: #012E40;
  cursor: pointer;
}

.flex .account {
  color: #fff;
  font-weight: bold;
  padding: 8px;
  background-color: #BFB3A8;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.flex .questions, .flex .cart {
  font-size: 16px;
  color: grey;
}

.flex .divider {
  background-color: rgba(191, 179, 168, 0.2);
  width: 1.6px;
  height: 25px;
}

.head2 {
  padding-left: 30px;
  padding-right: 20px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(140, 140, 140, 0.3);
}

.head2 ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1px;
}

.left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left * {
  margin: 0 2px 0 2px;
}

.left .w3-left1-margin {
  color: #506266;
  font-size: 13px;
  margin-right: 8px;
}

.left .w3-left1-margin .w3-icon-sp {
  margin: 0px 6px 0 0;
  color: #bcc5ce;
  font-size: 12px;
}

#job, #candidate {
  border: none;
  background-color: rgba(188, 197, 206, 0.5);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  padding: 4px 2px 4px 2px;
}

.w3-right-margin button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 11px;
  padding: 2px 1px 1px 1px;
  letter-spacing: 1px;
  background-color: rgba(188, 197, 206, 0.1);
  border-radius: 2px;
}

.w3-right-margin button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
}

.right button {
  border: none;
  padding: 8px 12px 7px 12px;
  border-radius: 3px;
  color: white;
  background-color: #012E40;
  cursor: pointer;
  font-size: 12px;
}

.right button i {
  margin-right: 6px;
}

.main-body {
  background-color: rgba(140, 140, 140, 0.2);
  padding: 9px 20px 0 34px;
}

.main-body li {
  list-style-type: none;
}

.row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row1 li {
  font-size: 12px;
}

.row1 li select {
  border: none;
  background-color: rgba(188, 197, 206, 0);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  padding: 4px 2px 4px 2px;
  margin: 0 0 0 9px;
  font-weight: bold;
}

.row1 .row1-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.row1 .row1-right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

.row2 {
  margin-top: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row2 li {
  cursor: pointer;
  padding: 7px 0px 7px 10px;
  width: 220px;
  border-radius: 3px;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  position: relative;
  border-left: 4px solid rgba(0, 0, 0, 0.6);
}

.row2 #contact, .row2 #WT, .row2 #WTC, .row2 #NS {
  border-left: 4px solid rgba(242, 167, 27, 0.9);
}

.row2 .member {
  width: 220px;
  border-radius: 3px;
  font-size: 13px;
  background-color: #fff;
  margin: 1.2rem 0 0 0;
  border: none;
  padding: 0;
}

.row2 .member .top {
  background-color: rgba(188, 197, 206, 0.1);
  position: relative;
  padding: 8px 0 0px 2px;
}

.row2 .member .top p {
  padding: 2px 0 2px 12px;
}

.row2 .member .top .top-p1 {
  color: rgba(19, 103, 138, 0.9);
}

.row2 .member .top .top-p2 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 13.4px;
}

.row2 .member .line::before {
  content: '';
  display: block;
  position: absolute;
  width: 1.2px;
  border-radius: 50%;
  height: 87%;
  top: 4px;
  left: 3px;
  background-color: rgba(0, 92, 83, 0.8);
}

.row2 .member .star {
  background-color: rgba(188, 197, 206, 0.2);
  padding: 5px 0 3px 5px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row2 .member .star i {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  padding: 0;
}

.row2 .member .star * {
  margin: -1px;
}

.row2 .member * {
  margin: 0;
}

@media screen and (min-width: 709px) and (max-width: 1023px) {
  .row2 {
    overflow-x: scroll;
    gap: 1rem;
    padding-bottom: 1.5rem;
  }
  #menuBar {
    width: 100%;
    z-index: 4;
    height: 58px;
    border-left: none;
    border-bottom: 2px solid #d92525;
  }
  #menuBar * {
    z-index: 99;
    display: inline-block;
  }
  .margin-left {
    margin: 0;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 600px) {
  #menuBar {
    width: 100%;
    z-index: 99;
    top: 68px;
    left: 100%;
    margin: 0;
    display: block;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  #menuBar.is-active {
    left: 0;
  }
  .w3-responsive-bar {
    display: block;
    position: fixed;
    z-index: 4;
    top: 32px;
    right: 16px;
  }
  .burger > div {
    width: 22px;
    height: 3px;
    background-color: red;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .burger > div::after, .burger > div::before {
    content: '';
    display: block;
    position: absolute;
    width: 22px;
    height: 3px;
    background-color: red;
  }
  .burger > div::after {
    margin-top: 7px;
  }
  .burger > div::before {
    margin-top: -7px;
  }
  .burger2 > div {
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .burger2.toggled > div::before {
    -webkit-animation: burgtop .5s linear forwards;
            animation: burgtop .5s linear forwards;
  }
  .burger2.toggled > div {
    background: transparent;
  }
  .burger2.toggled > div::after {
    -webkit-animation: burgbottom .5s linear forwards;
            animation: burgbottom .5s linear forwards;
  }
  .burger2.unToggled > div::after {
    -webkit-animation: burgtopreset .5s linear forwards;
            animation: burgtopreset .5s linear forwards;
  }
  .burger2.unToggled > div {
    background: red;
  }
  .burger2.unToggled > div::before {
    -webkit-animation: burgbottomreset .5s linear forwards;
            animation: burgbottomreset .5s linear forwards;
  }
  @-webkit-keyframes burgtop {
    50% {
      margin-top: 0;
      -webkit-transform: rotate(55deg);
              transform: rotate(55deg);
    }
    100% {
      margin-top: 0;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
  }
  @keyframes burgtop {
    50% {
      margin-top: 0;
      -webkit-transform: rotate(55deg);
              transform: rotate(55deg);
    }
    100% {
      margin-top: 0;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
  }
  @-webkit-keyframes burgbottom {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 0;
      -webkit-transform: rotate(-55deg);
              transform: rotate(-55deg);
    }
    100% {
      margin-top: 0;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
  }
  @keyframes burgbottom {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 0;
      -webkit-transform: rotate(-55deg);
              transform: rotate(-55deg);
    }
    100% {
      margin-top: 0;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
  }
  @keyframes burgbottom {
    20% {
      margin-top: 0em;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    60% {
      margin-top: 0em;
      -webkit-transform: rotate(-55deg);
              transform: rotate(-55deg);
    }
    100% {
      margin-top: 0em;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
  }
  @-webkit-keyframes burgtopreset {
    0% {
      margin-top: 0em;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    20% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    60% {
      margin-top: 8px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      margin-top: 7px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @keyframes burgtopreset {
    0% {
      margin-top: 0em;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    20% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    60% {
      margin-top: 8px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      margin-top: 7px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @-webkit-keyframes burgbottomreset {
    0% {
      margin-top: 0em;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
    20% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    60% {
      margin-top: -8px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      margin-top: -7px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @keyframes burgbottomreset {
    0% {
      margin-top: 0em;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
    20% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    60% {
      margin-top: -8px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      margin-top: -7px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  .head {
    padding: 4px 0px 5px 8px;
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
  }
  .head h3 {
    margin-top: 20px;
    color: white;
  }
  .head2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (2)[1fr];
        grid-template-rows: repeat(1fr, 2);
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    margin: 4.3rem 0 0 0px;
    padding-left: 20px;
  }
  .head2 * {
    margin: 1px 0 1px 0;
  }
  .head2 .w3-left1-margin {
    display: none;
  }
  .head2 .w3-right-margin {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .head2 #candidate {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
  }
  .head2 #job {
    margin: 1px 0px 0 -1px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
  }
  .head2 .left {
    max-width: 100%;
    width: 340px;
  }
  .main-body {
    padding: 18px;
  }
  .main-body .row1 {
    display: block;
  }
  .main-body .row1-right {
    display: none;
  }
  .main-body .row2 {
    display: block;
  }
  .margin-left {
    margin: -15px 0 0 0;
    padding-top: 1rem;
  }
  .flex {
    display: none;
  }
  #open, #contact, #WT, #WTC, #NS {
    width: 100%;
    margin: 12px 0 0 0;
  }
  .member {
    max-width: 100%;
    width: 94% !important;
    margin-left: 20px !important;
  }
  .member .top {
    height: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */